%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:charset => "utf-8"}
    %title Piedra, Papel o Tijeras
    %link{:href => "/public/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/public/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %script{:src => "/public/js/bootstrap.js"}
    %link{:href => "public/estilo.css", :rel => "stylesheet"}
  %body

    %ul.nav.nav-tabs
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "index.haml"}
          ¡A jugar!


    .container
      .hero-unit
        %p El objetivo es vencer al oponente seleccionando el arma que gana a la que ha elegido él, siguiendo estas reglas:

        %p La piedra aplasta o rompe la tijera (gana la piedra)
        %p La tijera corta el papel (gana la tijera)
        %p El papel envuelve la piedra (gana el papel)
        %p Si los jugadores eligen la misma arma o cada uno una diferente (Ejem:Solo aplica en casos de tres jugadores) es un empate y se juega otra vez.

    .footer
      %br
      %br
      %br
      %br
      %h4 Practica 5: Sistemas Y Tecnologias Web

